---
extends: default
ignore: |
  tests/
  .github/
rules:
  line-length:
    max: 160
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: true
  indentation:
    spaces: 2
    indent-sequences: true
  empty-lines:
    max: 2
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  braces:
    max-spaces-inside: 1
